<div>Obrigado por contribuir com sua opinião!</div>
<div><br></div>
<div><br></div>
<div><%= 
          link_to 'Confirmar meu voto.', 
                  vote_confirmation_url(@vote, 
                    :confirmation_token => @vote.email_hash) 
      %></div>
<div></div>
<div><br></div>
<div><br></div>
<div><b>- Time Debate Livre/b></div>
<div><a href="http://debatelivre.cc.com" target=3D"_blank">http://debatelivre.cc.com</a></div>

<div><br></div>

</div></blockquote><div dir="ltr"><span style=3D"color:rgb(0,102,0)"></span></div>
</div>
</div><br><br clear=3D"all"><div><br></div><div dir=3D"ltr"><br><span style="color:rgb(0,102,0)"></span></div>
</div>